{%extends 'base.html'%}
{%load static%}
{% block metadescription %}

<title>{{all_meta.gallery_meta_title}}</title>
<meta name="keywords" content="{{all_meta.gallery_meta_keyword}}">
<meta name="description" content="{{all_meta.gallery_meta_desc}}">


{% endblock %}
{%block content%}
<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>Gallery</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->

<!-- Start Gallery -->
<div class="gallery-box">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Gallery</h2>

					<p>{{allmessage.gallery_mes}}</p>

				</div>
			</div>
		</div>
		<div class="tz-gallery">
			<div class="row">

				{%for item in gallery%}
				<div class="col-sm-6 col-md-4 col-lg-4">
					<a class="lightbox" href="{{item.photo.url}}">
						<img class="img-fluid" src="{{item.photo.url}}" alt="{{item.alt}}">
					</a>
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
</div>
<!-- End Gallery -->
{%endblock%}